<style>
    #shopify-section-{{ section.id }} {
      --section-padding-top: {{ section.settings.padding_top }}px;
      --section-padding-bottom: {{ section.settings.padding_bottom }}px;
      {%- render 'section-variables', section: section -%};
    }

    .anray-gallery {
      display: flex;
      flex-direction: column;
      gap: 10px; /* 图片之间的间距 */
  }

  .anray-row {
      display: flex;
      gap: 10px; /* 同行图片之间的间距 */
  }

  .anray-col {
      flex: 1;
      aspect-ratio: 2 / 1; /* 新增：设置宽高比为2:1，使容器高度为宽度的一半 */
  }

  .anray-col img {
      {% comment %} width: 100%;
      height: 100%; /* 修改：确保图片填满列高，实现同行等高 */
      display: block;
      object-fit: cover; /* 确保图片不变形并填满容器 */ {% endcomment %}
  }

  .anray-col-full {
      flex-basis: 100%;
      aspect-ratio: 3 / 1; /* 新增：设置宽高比为2:1，使容器高度为宽度的一半 */
  }

  .anray-col-narrow {
      flex-basis: 33.33%; /* 左窄或右窄列的宽度 */
  }

  .anray-col-wide {
      flex-basis: 66.67%; /* 左宽或右宽列的宽度 */
  }

  @media (max-width: 767px) {
    .anray-first-image {
      height: 100%;
    }
    
    .anray-gallery .anray-row:first-child .anray-col{
      aspect-ratio: 1.5 / 1;
    }
  }
</style>

<div
  class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"
  {% if section.settings.transparent_header %}
    allow-transparent-header
  {% endif %}
>
  <div class="page-width{% if section.settings.narrow %} page-width--narrow{% endif %} relative">
    <!-- 内容区域 -->
    {%- assign sizes = '(max-width: 767px) 100vw, 50vw' -%}
    <div class="anray-gallery">
      <div class="anray-row">
        <div class="anray-col anray-col-full">
          <picture class="media media--{{ section.settings.image_ratio }} block relative overflow-hidden anray-first-image">
            {%- if section.settings.image1 != blank -%}
              {{
                section.settings.image1
                | image_url: width: section.settings.image1.width
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '300,400,500,600,700,800,900,1000,1200,1400,1600',
                  is: 'lazy-image'
              }}
            {%- else -%}
              {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
            {%- endif -%}
          </picture>
        </div>
      </div>
      <div class="anray-row">
        <div class="anray-col anray-col-narrow">
          {%- if section.settings.image2 != blank -%}
            {{
              section.settings.image2
              | image_url: width: section.settings.image2.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '300,400,500,600,700,800,900,1000,1200,1400,1600',
                is: 'lazy-image'
            }}
          {%- else -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
          {%- endif -%}
        </div>
        <div class="anray-col anray-col-wide">
          {%- if section.settings.image3 != blank -%}
            {{
              section.settings.image3
              | image_url: width: section.settings.image3.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '300,400,500,600,700,800,900,1000,1200,1400,1600',
                is: 'lazy-image'
            }}
          {%- else -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
          {%- endif -%}
        </div>
      </div>
      <div class="anray-row">
        <div class="anray-col anray-col-wide">
          {%- if section.settings.image4 != blank -%}
            {{
              section.settings.image4
              | image_url: width: section.settings.image4.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '300,400,500,600,700,800,900,1000,1200,1400,1600',
                is: 'lazy-image'
            }}
          {%- else -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
          {%- endif -%}
        </div>
        <div class="anray-col anray-col-narrow">
          {%- if section.settings.image5 != blank -%}
            {{
              section.settings.image5
              | image_url: width: section.settings.image5.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '300,400,500,600,700,800,900,1000,1200,1400,1600',
                is: 'lazy-image'
            }}
          {%- else -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
          {%- endif -%}
        </div>
      </div>
      <div class="anray-row">
        <div class="anray-col anray-col-full">
          {%- if section.settings.image6 != blank -%}
            {{
              section.settings.image6
              | image_url: width: section.settings.image6.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '300,400,500,600,700,800,900,1000,1200,1400,1600',
                is: 'lazy-image'
            }}
          {%- else -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
          {%- endif -%}
        </div>
      </div>
    </div>
    <!-- 内容区域 -->
  </div>
</div>

{% schema %}
{
  "name": "anray_product-picturs",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "narrow",
      "label": "t:sections.global.settings.narrow.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.global.settings.image_ratio.options__1.label"
        },
        {
          "value": "square",
          "label": "t:sections.global.settings.image_ratio.options__2.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.global.settings.image_ratio.options__3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.global.settings.image_ratio.options__4.label"
        },
        {
          "value": "wide",
          "label": "t:sections.global.settings.image_ratio.options__5.label"
        },
        {
          "value": "rounded",
          "label": "t:sections.global.settings.image_ratio.options__6.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.global.settings.image_ratio.label"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image3"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image4"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "Image5"
    },
    {
      "type": "image_picker",
      "id": "image6",
      "label": "Image6"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "anray_product-picturs"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
