<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%};
    --anray-shop-product-width: {{ section.settings.product_width }}px;
    --anray-shop-product-height: {{ section.settings.product_height }}px;
    --anray-shop-product-gap: {{ section.settings.product_gap }}px;
  }
</style>
<script src="{{ 'anray-custom-Drag.js' | asset_url }}" defer></script>
<div
  class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"
  {% if section.settings.transparent_header %}
    allow-transparent-header
  {% endif %}
>
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    <!-- 内容区域 -->
    <div class="anray-shop-accessories-section" id="{{ section.settings.shop_scroll_id | handleize }}">
      <!-- 添加标题和See All链接 -->
      <div class="anray-shop-accessories-title-container">
        <h1 class="anray-shop-accessories-title">{{ section.settings.shop_scroll_title }}</h1>
        <a href="#" class="anray-shop-see-all">See All</a>
      </div>
      {% render 'anray-shop-products', collection: section.settings.collection %}
    </div>
    <!-- 内容区域 -->
  </div>
</div>

<script>
  // 页面加载完成后初始化
  document.addEventListener('DOMContentLoaded', function () {
    // 获取DOM元素
    const productsContainer = document.querySelector(
      '#shopify-section-{{ section.id }} .anray-shop-products-container-grey'
    );
    const scrollLeftButton = document.querySelector('#shopify-section-{{ section.id }} .anray-shop-left');
    const scrollRightButton = document.querySelector('#shopify-section-{{ section.id }} .anray-shop-right');

    // 初始化拖拽滚动
    const dragScroll = new DragScroll(productsContainer, {
      scrollMultiplier: 1.5,
      momentumMultiplier: 20,
      frictionFactor: 0.92,
      scrollButtonLeft: scrollLeftButton,
      scrollButtonRight: scrollRightButton,
      scrollAmount: 0.8,
    });

    // 将实例存储在window对象上，以便需要时访问
    window.dragScroll = dragScroll;
  });
</script>

{% schema %}
{
  "name": "Anray Scroll Products",
  "settings": [
    {
      "type": "text",
      "id": "shop_scroll_title",
      "label": "标题",
      "default": "Coffee"
    },
    {
      "type": "text",
      "id": "shop_scroll_id",
      "label": "id",
      "default": "Coffee"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "集合"
    },
    {
      "type": "range",
      "id": "product_width",
      "label": "产品图片宽度",
      "min": 100,
      "max": 350,
      "step": 5,
      "default": 260
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "产品图片高度",
      "min": 100,
      "max": 350,
      "step": 5,
      "default": 260
    },
    {
      "type": "range",
      "id": "product_gap",
      "label": "产品间距",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 53
    },
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "presets": [
    {
      "name": "Anray Scroll Products"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
