<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%};
  }
</style>

{{ 'anray-shop-products.css' | asset_url | stylesheet_tag }}

<div
  class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"
  {% if section.settings.transparent_header %}
    allow-transparent-header
  {% endif %}
>
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    <!-- 内容区域 -->
    <div class="anray-shop-accessories-section" id="{{ section.settings.shop_scroll_id | handleize }}">
      <!-- 添加标题和See All链接 -->
      <div class="anray-shop-accessories-title-container">
        <h1 class="anray-shop-accessories-title">{{ section.settings.shop_scroll_title }}</h1>
        <a href="#" class="anray-shop-see-all">See All</a>
      </div>

      <!-- 添加滚动容器和按钮 -->
      <div class="anray-shop-products-scroll-container">
        <button class="anray-shop-scroll-button anray-shop-left" id="shop-scroll-left">
          <svg
            class="anray-shop-icon anray-shop-icon-chevron-left anray-shop-icon-sm anray-shop-stroke-2 anray-shop-transform"
            viewBox="0 0 24 24"
            stroke="currentColor"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M14 6L8 12L14 18"></path>
          </svg>
        </button>

        <div class="anray-shop-products-container-grey">
          <a href="products/anray-griddle11" class="anray-shop-product-link">
            <div class="anray-shop-product-card">
              <div class="anray-shop-product-image anray-shop-product-image-radius">
                <img
                  width="100%"
                  height="100%"
                  src="https://www.terrakaffe.com/cdn/shop/products/BBBundle1.jpg?v=1678845744&width=1000"
                  alt="便携式榨汁机"
                >
              </div>
              <div class="anray-shop-product-info">
                <div class="anray-shop-product-name">T-02</div>
                <div class="anray-shop-product-price-value">$299.00</div>
              </div>
            </div>
          </a>

          <a href="products/anray-griddle11" class="anray-shop-product-link">
            <div class="anray-shop-product-card">
              <div class="anray-shop-product-image anray-shop-product-image-radius">
                <img
                  width="100%"
                  height="100%"
                  src="https://www.terrakaffe.com/cdn/shop/products/BBBundle1.jpg?v=1678845744&width=1000"
                  alt="便携式榨汁机"
                >
              </div>
              <div class="anray-shop-product-info">
                <div class="anray-shop-product-name">T-02</div>
                <div class="anray-shop-product-price-value">$299.00</div>
              </div>
            </div>
          </a>

          <a href="products/anray-griddle11" class="anray-shop-product-link">
            <div class="anray-shop-product-card">
              <div class="anray-shop-product-image anray-shop-product-image-radius">
                <img
                  width="100%"
                  height="100%"
                  src="https://www.terrakaffe.com/cdn/shop/products/BBBundle1.jpg?v=1678845744&width=1000"
                  alt="便携式榨汁机"
                >
              </div>
              <div class="anray-shop-product-info">
                <div class="anray-shop-product-name">T-02</div>
                <div class="anray-shop-product-price-value">$299.00</div>
              </div>
            </div>
          </a>
          <a href="products/anray-griddle11" class="anray-shop-product-link">
            <div class="anray-shop-product-card">
              <div class="anray-shop-product-image anray-shop-product-image-radius">
                <img
                  width="100%"
                  height="100%"
                  src="https://www.terrakaffe.com/cdn/shop/products/BBBundle1.jpg?v=1678845744&width=1000"
                  alt="便携式榨汁机"
                >
              </div>
              <div class="anray-shop-product-info">
                <div class="anray-shop-product-name">T-02</div>
                <div class="anray-shop-product-price-value">$299.00</div>
              </div>
            </div>
          </a>
          <a href="products/anray-griddle11" class="anray-shop-product-link">
            <div class="anray-shop-product-card">
              <div class="anray-shop-product-image anray-shop-product-image-radius">
                <img
                  width="100%"
                  height="100%"
                  src="https://www.terrakaffe.com/cdn/shop/products/BBBundle1.jpg?v=1678845744&width=1000"
                  alt="便携式榨汁机"
                >
              </div>
              <div class="anray-shop-product-info">
                <div class="anray-shop-product-name">T-02</div>
                <div class="anray-shop-product-price-value">$299.00</div>
              </div>
            </div>
          </a>
          <a href="products/anray-griddle11" class="anray-shop-product-link">
            <div class="anray-shop-product-card">
              <div class="anray-shop-product-image anray-shop-product-image-radius">
                <img
                  width="100%"
                  height="100%"
                  src="https://www.terrakaffe.com/cdn/shop/products/BBBundle1.jpg?v=1678845744&width=1000"
                  alt="便携式榨汁机"
                >
              </div>
              <div class="anray-shop-product-info">
                <div class="anray-shop-product-name">T-02</div>
                <div class="anray-shop-product-price-value">$299.00</div>
              </div>
            </div>
          </a>

          <a href="products/anray-griddle11" class="anray-shop-product-link">
            <div class="anray-shop-product-card">
              <div class="anray-shop-product-image anray-shop-product-image-radius">
                <img
                  width="100%"
                  height="100%"
                  src="https://www.terrakaffe.com/cdn/shop/products/BBBundle1.jpg?v=1678845744&width=1000"
                  alt="便携式榨汁机"
                >
              </div>
              <div class="anray-shop-product-info">
                <div class="anray-shop-product-name">T-02</div>
                <div class="anray-shop-product-price-value">$299.00</div>
              </div>
            </div>
          </a>
        </div>

        <button class="anray-shop-scroll-button anray-shop-right" id="shop-scroll-right">
          <svg
            class="anray-shop-icon anray-shop-icon-chevron-right anray-shop-icon-sm anray-shop-stroke-2 anray-shop-transform"
            viewBox="0 0 24 24"
            stroke="currentColor"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 6L16 12L10 18"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- 内容区域 -->
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const productsContainer = document.querySelector('.anray-shop-products-container-grey');
    const scrollLeftButton = document.getElementById('shop-scroll-left');
    const scrollRightButton = document.getElementById('shop-scroll-right');

    const dragScroll = new DragScroll(productsContainer, {
      scrollMultiplier: 1.5,
      momentumMultiplier: 20,
      frictionFactor: 0.92,
      scrollButtonLeft: scrollLeftButton,
      scrollButtonRight: scrollRightButton,
      scrollAmount: 0.8,
    });
    window.dragScroll = dragScroll;
  });
</script>

{% schema %}
{
  "name": "Anray Scroll Products",
  "settings": [
    {
      "type": "text",
      "id": "shop_scroll_title",
      "label": "标题",
      "default": "Coffee"
    },
    {
      "type": "text",
      "id": "shop_scroll_id",
      "label": "id",
      "default": "Coffee"
    },
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "presets": [
    {
      "name": "Anray Scroll Products"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
